/* Reset default margin and padding */
body, html {margin: 0; padding: 0; border-style: solid; border-color: rgba(255, 255, 255, 0);border-radius:  5%;}
body {background-color: #1f2e35; max-width: 1800px; max-height: 5000px;}

/* Code for background-items-a--------------------------------------------------------------------------------------------------- */
.background-items-a {display: flex; flex-wrap: wrap;}

.background-circle-a {
    position:absolute;
    transform: translate(0, -10%);
    width: 100%;
    max-width: 1900px;
    height: 980px; 
    background-color: #28353b; 
    border-radius: 10%; 
    z-index: -1;
}

/* Code for menu & buttons ------------------------------------------------------------------------------------------- */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1800px;
}

.btn-menu {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    cursor:pointer;
    border-style:unset;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.btn-sign-in {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-color:white;
    border-style:solid;
    border-radius: 4px;
    border-width: 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
    padding: 10px 10px 10px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: nowrap;
    text-decoration: none;
}

.btn-sign-up{
    color: rgb(255, 255, 255);
    background-color: rgb(117, 139, 104);
    border-color:rgba(255, 255, 255, 0);
    border-style:solid;
    border-radius: 4px;
    border-width: 2px;
    cursor:pointer;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: nowrap;
    text-decoration: none;
}

/* Code for general btn aspect----------------------------------------------------------------------------------------------------- */
.btn-primary {color: rgb(255, 255, 255); background-color: rgb(117, 139, 104); border-color:rgba(255, 255, 255, 0);}
.btn-secondary {color: rgb(117, 139, 104); background-color: rgba(117, 139, 104, 0); border-color:rgba(255, 255, 255, 0);}

.X {
    /* class X = General atributes that apply to more btns from the web page */
    border-style:solid;
    border-radius: 4px;
    border-width: 1px;
    font-size: 30px;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
}

/* Code for Logo ------------------------------------------------------------------------------------------------------------- */
.logo {color:white; font-size: 60px;} .material-icons {font-size: 60px; vertical-align: middle;}

/* Code for Body1 ------------------------------------------------------------------------------------------------------------ */
.body1 {display:flex; flex-direction: row; padding-left: 20px; max-width: 1750px;margin-top: 10%;}
.body1 title1 {color:white; font-size: 80px; }
.body1 text1 {padding-bottom: 40px; color:white; font-size: 50px;}
.body1 .btn {display: inline-flex; margin: 25% ; margin-top:10%;}
.btn-secondary ion-icon {vertical-align: middle;}
.body1 .group1 {max-width: 50%;}
.body1 .image1 {max-width: 100%; margin-top: 4%;}
.body1 .image1 img {height: auto; max-width: 100%; margin-top: -30%; margin-left:20%}

/* Code for Body2 ------------------------------------------------------------------------------------------------------------ */
.body2 {display:flex; flex-wrap:wrap; max-width: 1750px; align-items: center; margin-top: 5%;}
.body2 .group2{grid-auto-rows: min-content;line-height:40px; align-items: center; justify-content: center; margin-left: 5%} 
.body2 .body2-table {display: block; color:white; font-size: 40px; margin: 5%}
.body2  ion-icon {color:white; font-size: 0px;}
.body2 title2 {color:white; display:block; margin-bottom: 10px; text-align: center; font-size: 60px;}
.body2-btn {margin-left: 40%; color: rgb(255, 255, 255); background-color: rgb(117, 139, 104); border-color:rgba(255, 255, 255, 0);margin-top:2%;}

/* Code for Body3 ------------------------------------------------------------------------------------------------------------ */
.body3 {display:flex; flex-wrap: wrap; padding-left: 10%; margin-top: 5%}
.body3 .body3-table {color:white; line-height: 60px; max-width: 50%;}
.body3-table .t3r1, .body3-table .t3r4, .body3-table .t3r6 {font-size: 30px; font-weight:bold}
.body3-table .t3r2 {font-size: 50px;}
.body3-table .t3r3, .body3-table .t3r5, .body3-table .t3r7 {font-size: 30px}
.body3 .image3 {max-width: 590px; float:left; margin-top: 5%;}
.body3 .image3 img {max-width: 100%;}

/* Code for Body4 ------------------------------------------------------------------------------------------------------------ */
.body4 {display:flex; flex-wrap:wrap; margin-left: 10%; margin-top: 40px;align-items: center}
.body4 .body4-table {color:white; line-height: 60px; max-width: 50%;}
.body4-table .t4r1, .body4-table .t4r3, .body4-table .t4r4 {font-size: 33px; font-weight:bold; }
.body4-table .t4r2 {font-size: 40px;}
.body4-table .t4r4, .body4-table .t4r5, .body4-table .t4r6 {font-size: 20px;}
.body4 .image4 {max-width: 550px;}
.body4 .image4 img {max-width: 100%;}
.body4  ion-icon {color:white; font-size: 30px; vertical-align: middle;}

/* Code for Body5 ------------------------------------------------------------------------------------------------------------ */
.body5 {display:flex; flex-wrap: wrap; margin-top: 40px; justify-content: center; max-width: 1750px}
.body5 .body5-table {color:white; line-height: 60px; max-width: 40%;}
.body5-table .t5r1, .body5-table .t5r4, .body5-table .t5r6 {font-size: 35px; font-weight:bold}
.body5-table .t5r2 {font-size: 45px;}
.body5-table .t5r3, .body5-table .t5r5, .body5-table .t5r7 {font-size: 20px}
.body5 .image5 {max-width: 520px; margin-left: 5%;margin-bottom: 5%;}
.body5 .image5 img {max-width: 100%;}

/* Code for background-items-b--------------------------------------------------------------------------------------------------- */

.background-items-b {display: flex; flex-wrap: wrap;}

.background-circle-b {
    position:absolute;
    transform: translate(0, 0%);
    width: 100%;
    max-width: 1800px;
    height: 100%; 
    max-height: 1000px;
    background-color: #28353b; 
    border-radius: 10%; 
    z-index: -1;
    align-items: center; 
}

/* Code for Body6 ------------------------------------------------------------------------------------------------------------ */
.body6-pic-gr-3 {display:flex; flex-wrap: wrap;align-items: center; justify-content: center; max-width: 1750px; margin-top: 3%;}
.body6 {display:flex; flex-wrap: wrap; margin-top: 40px; }
.body6 .body6-table {font-size: 30px; color:white; line-height: 35px; width: 1790px; text-align: center; margin-left: 7%; }

/* Code for Body-chat ------------------------------------------------------------------------------------------------------------ */
.body-chat{display:flex; flex-wrap: wrap;}

/* Code for pic-group-1------------------------------------------------------------- */
.body6-pic-gr-1 {display: flex; flex-direction: row; max-width:1700px; padding-top:5%; margin-left: 5%; justify-content: space-between;}
.body6-pic-0A img {width: 85%; padding-top: 15%;} .body6-pic-1 img {height: 90%; width: 97%} .body6-pic-2 img {height: 90%; width: 74%}

/* Code for pic-group-2------------------------------------------------------------- */
.body6-pic-gr-2 {display:flex; flex-direction: row; max-width:1700px; padding-top:5%; margin-left: 5%;justify-content: space-between;}
.body6-pic-0B img {height: 40%; width: 85%; padding-top: 10%;} .body6-pic-3 img {height: 90%; width: 95%} .body6-pic-4 img {height: 90%; width: 74%}

/* Code for text on the messages ------------------------------------------------------------------------------------------------------------ */
.body6-pic-0A p1 {display: flex; text-wrap:nowrap ;margin-top: -18%;font-style:bold;  font-size: 22px; margin-left: 12%;}
.body6-pic-0A p2 {display: flex; text-wrap:nowrap ;margin-top: -18%;font-style:bold;  font-size: 22px; margin-left: 12%;}
.body6-pic-0B p1 {display: flex; text-wrap:nowrap ;margin-top: -18%;font-style:bold;  font-size: 22px; margin-left: 12%;}
.body6-pic-0B p2 {display: flex; text-wrap:nowrap ;margin-top: -18%;font-style:bold;  font-size: 22px; margin-left: 12%;}

/* Code for text on the messages ------------------------------------------------------------------------------------------------------------ */
.body7 {display: flex; margin-top: 0%; max-width:1750px ; margin-left: 5%;}
.body7-gr-0 {display: flex;flex-wrap: wrap; flex-direction: column; font-size: 40px; padding: 2% 2% 2% 10%; max-width:1750px}
p7-0-1 {color:white; font-size: 40px; margin-top: 1%;}
p7-0-2 {color:white; font-size: 30px; margin-top: 1%;}
.body7-gr-1 {display: flex; flex-direction: column; padding: 2% 2% 2% 2%; width: 33.33%}
.body7-gr-1 img {border-radius: 10%;height: 50%; width: 90%}
.body7-gr-2 {display: flex; flex-direction: column; padding: 2% 2% 2% 2%; width: 33.33%}
.body7-gr-2 img {border-radius: 10%; height: 50%; width: 100%}
.body7-gr-3 {display: flex; flex-direction: column; padding: 2% 2% 2% 2%; width: 33.33%}
.body7-gr-3 img {border-radius: 10%;height: 50%; width: 90%}
p7-1 {color:white; font-size: 40px; margin-top: 5%;}
p7-2 {color:white; font-size: 30px; margin-top: 5%;}

/* Code for the user form ------------------------------------------------------------------------------------------------------------ */
.formtitle{margin-bottom: 50px; padding-right: 2%;text-align: center;font-size: 70px; font-weight: bold ;color: rgb(255, 255, 255);font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.bodyuserform {
    max-width:1750px ; display: flex; flex-wrap: wrap; flex-direction: column;
    font-size: 70px; margin-left: 5%; margin-right: 5%; max-width:1750px;
}
form {display: flex;flex-direction: column;gap: 30px; width: 100%;}
label {text-align: center; font-weight: bold ;color: rgb(255, 255, 255);font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
input {text-align: center;padding: 5px;border: 1px solid #ccc;border-radius: 70px; height: 50px; font-size: 50px; font-style: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
textarea {text-align: center;padding: 5px;border: 1px solid #ccc;border-radius:70px; height: 400px; font-size: 50px; font-style: bold; text-wrap:wrap;}
button {margin-bottom: 50px;background-color: #6a44ac; color: white; padding: 30px; border: none; border-radius: 70px; cursor: pointer; font-size: 50px; font-style: bold;}
button:hover {font-size: 65px; background-color: #45a06f; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

/* Responsive / Adjustments for smaller screens (e.g., mobile phones) -------------------------------------------------------- */
@media only screen and (max-width: 1380px) {

    .btn{display:flex; flex-direction: column; align-items: center;}
    .btn-primary {margin-bottom: 10%;}

    /* Code for background-items ------------------------------------------------------------------------------------------------- */
    .background-circle-a {width: 100%; height: 45vh; transform: translate( 0 , 0%); border-radius: 30%; }
    .background-circle-b {align-items: center; max-height:145%; transform: translate( 0 , 0%);border-radius: 10%; }
    /* Code for menu ------------------------------------------------------------------------------------------------------------ */
    .menu {flex-direction: column; align-items: center; justify-content: space-around;}
    
    /* Code for Logo ------------------------------------------------------------------------------------------------------------ */
    .logo {color:white; font-size: 45px; text-shadow: #FC0 1px 0 10px;}
    .material-icons {vertical-align: middle; justify-content: center;align-items: center;}

    /* Code for Body1 ------------------------------------------------------------------------------------------------------------ */
    title1 {font-size: 40px; color:white;}
    .body1 {flex-direction:column-reverse; align-items: center; justify-content: center;}
    .body1 .image1 {max-width: 100%; align-items: center;}
    .body1 .group1 {max-width: 100%; text-align: center;}
    .body1 .image1 img {margin-top: 0%;margin-left: 0%;}
    .body1 text1 {float:left ;padding-bottom: 0px; color:white; font-size:20px; line-height: 48px;}

    /* Code for Body3 ------------------------------------------------------------------------------------------------------------ */
    .body3 .image3, .body3 .body3-table {max-width: 100%}
    .body3 { align-items: center; justify-content: center;}
    /* Code for Body4 ------------------------------------------------------------------------------------------------------------ */
    .body4 .image4, .body4 .body4-table {max-width: 100%;}
    .body4 {flex-direction: column-reverse;}

    /* Code for Body5 ------------------------------------------------------------------------------------------------------------ */
    .body5 {margin-left: 10%}
    .body5 .image5, .body5 .body5-table {max-width: 100%}
    
    /* Code for Body6 ------------------------------------------------------------------------------------------------------------ */
    .body6-pic-gr-3 {margin-top: 15%; margin-bottom: 20%;}
    .body6-pic-gr-1 {display:flex; flex-direction: column; align-items: center;}
    .body6-pic-gr-2 {display:flex; flex-direction: column-reverse; align-items: center;}
    .body6-pic-1 img {width: 74%; padding-left: 10%;}
    .body6-pic-2 {margin-top: 10%; margin-left: 12%;} .body6-pic-2 img {width: 54%; padding-left: 10%;}
    .body6-pic-3 {margin-top: 10%; margin-left: 0%;} .body6-pic-3 img {width: 74%; padding-left: 10%;}
    .body6-pic-4 {margin-top: 10%; margin-left: 10%;} .body6-pic-4 img {width: 54%; padding-left: 10%;}
    .body6-pic-0A img {padding-left: 5%; padding-top: 5%;}
    .body6-pic-0B img {padding-left: 5%;}

    /* Code for Body6 ------------------------------------------------------------------------------------------------------------ */
    .body7 {display:flex; flex-direction: column; align-items: center; margin-top: 10%;}
    .body7-gr-0 {display: flex;} 
}